In [1]:
import numpy as np
import pandas as pd

In [9]:
qTableArr=np.zeros((5, 4)) # filas columnas
states=['inicio','pared','trofeo','virus','nada']
qTable = pd.DataFrame(data=qTableArr,columns=['izq', 'der', 'arriba', 'abajo'],index=states)
# la matriz laberinto con las recompensas
# -1 estado valido
# 10 trofeo
#-10 virus
# 0 pared
matrizLaberinto = [
             [-1,-1,-1,10],
             [-1,0,-1,-10],
             [-1,-1,-1,-1],
             ]
datos = np.array(matrizLaberinto)
col=['a','b','c']
laberinto = pd.DataFrame(data=datos,columns=['1', '2', '3', '4'],index=col)
r=[laberinto.loc['c','2'],laberinto.loc['c','1'],laberinto.loc['b','1'],laberinto.loc['a','1'],laberinto.loc['a','2'],laberinto.loc['a','3'],laberinto.loc['a','4']]

print('e1 = {c2;c1;b1;a1;a2;a3;a4}')
print('Valores de recompensa movimientos e1: ', r)
learningRate = 1
discountFactor = 0.9
#creacion de los vectores de action
action_e1 = ['izq','arriba','arriba','der','der','der','der']
state='inicio'
action='izq'
laberinto

e1 = {c2;c1;b1;a1;a2;a3;a4}
Valores de recompensa movimientos e1:  [-1, -1, -1, -1, -1, -1, 10]

   1  2  3   4
a -1 -1 -1  10
b -1  0 -1 -10
c -1 -1 -1  -1

<img src="CapturaLaberinto.png">

In [10]:
qTable

        izq  der  arriba  abajo
inicio  0.0  0.0     0.0    0.0
pared   0.0  0.0     0.0    0.0
trofeo  0.0  0.0     0.0    0.0
virus   0.0  0.0     0.0    0.0
nada    0.0  0.0     0.0    0.0

In [11]:

for k in range(0,len(r)):
    Q = qTable.loc[state,action]
    R = r[k]
    if r[k] == -1 :
        statePrima = 'nada'
    if r[k] == 10 :
        statePrima = 'trofeo'
    if r[k] == -10 :
        statePrima = 'virus'
    if r[k] == 0 :
        statePrima = 'pared'
    actionPrima = action_e1[k]
    QPrima = qTable.loc[statePrima,actionPrima]
    NQ = Q + learningRate*(R + discountFactor*(QPrima) - Q)
    qTable.loc[state,action] = NQ
    state = statePrima
    action = actionPrima
qTable.loc[state,action] = qTable.loc[state,action] + learningRate*(R + discountFactor*(QPrima) - qTable.loc[state,action])
qTable

        izq   der  arriba  abajo
inicio -1.0   0.0     0.0    0.0
pared   0.0   0.0     0.0    0.0
trofeo  0.0  10.0     0.0    0.0
virus   0.0   0.0     0.0    0.0
nada   -1.0  10.0    -1.0    0.0